#modal {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    /* transform: translate(-50%, -50%); */
}

#circle {
  position: relative;
  bottom: 20px;
  left: 30px;
}

#cross {
  position: relative;
  bottom: 20px;
  right: 44px;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
}

#div {
    /* background: black; */
}
